@model IEnumerable<ISPRO.Persistence.Entities.Project>

@{
    ViewData["Title"] = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Projects</h1>

<p>
    <a asp-action="Create" class="btn btn-primary" style="float: right; margin-bottom:10px;">Create New</a>
</p>
<table class="table display compact">
    <thead>
        <tr>
            <th>Actions</th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectManager)
            </th>
            <th class="type-date">
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th class="type-date">
                @Html.DisplayNameFor(model => model.LastUpdate)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Name"><i class="bi bi-pencil-square"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Name"><i class="bi bi-trash" style="color:red; margin-left:10px"></i></a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Name">@item.Name</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectManager.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdate)
                </td>
            </tr>
        }
    </tbody>
</table>
