@model ISPRO.Persistence.Entities.PrePaidCard

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>PrePaid Card</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubscriptionId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubscriptionId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ConsumerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ConsumerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsExpired)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsExpired)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ConsumptionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ConsumptionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsConsumed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsConsumed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RechargePeriod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RechargePeriod)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price) 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price) @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
