@model IEnumerable<ISPRO.Persistence.Entities.PrePaidCard>

@{
    ViewData["Title"] = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="margin-top:30px;"><i class="bi bi-credit-card-2-front"></i> PrePaid Cards</h1>
<hr style="margin-bottom:50px;" />

<p>
    <a asp-action="Generate" class="btn btn-primary" style="float: right; margin-bottom:10px;margin-left:10px;"><i class="bi bi-braces"></i>Generate Cards</a>
    <a asp-action="Create" class="btn btn-primary" style="float: right; margin-bottom:10px;"><i class="bi bi-plus-lg"></i>Create New</a>
</p>
<table class="table display compact">
    <thead>
        <tr>
            <th>Actions</th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subscription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RechargePeriod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th class="type-date">
                @Html.DisplayNameFor(model => model.ExpiryDate)
            </th>
            <th class="type-bool" reversed-bool="true" true-verb="Expired" false-verb="Alive">
                @Html.DisplayNameFor(model => model.IsExpired)
            </th>
            <th class="type-bool" reversed-bool="false" true-verb="True" false-verb="False">
                @Html.DisplayNameFor(model => model.IsConsumed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConsumerName)
            </th>
            <th class="type-date">
                @Html.DisplayNameFor(model => model.ConsumptionDate)
            </th>
            <th class="type-date">
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th class="type-date">
                @Html.DisplayNameFor(model => model.LastUpdate)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash" style="color:red; margin-left:10px"></i></a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@item.Id</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subscription.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RechargePeriod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Currency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpiryDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsExpired)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsConsumed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConsumerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConsumptionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdate)
                </td>
            </tr>
        }
    </tbody>
</table>
