@model IEnumerable<ISPRO.Persistence.Entities.ManagerAccount>

@{
    ViewData["Title"] = "Managers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="margin-top:30px;"><i class="bi bi-person-workspace"></i> Managers</h1>
<hr style="margin-bottom:50px;" />

<p>
    <a asp-action="Create" class="btn btn-primary" style="float: right; margin-bottom:10px;"><i class="bi bi-plus-lg"></i>Create New</a>
</p>
<table class="table display compact">
    <thead>
        <tr>
            <th>Actions</th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxAllowedProjects)
            </th>
            <th class="type-date">
                @Html.DisplayNameFor(model => model.ExpiryDate)
            </th>
            <th class="type-bool" reversed-bool="true" true-verb="Expired" false-verb="Genuine">
                @Html.DisplayNameFor(model => model.IsExpired)
            </th>
            <th class="type-bool" reversed-bool="false" true-verb="Active" false-verb="Inactive">
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th class="type-date">
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th class="type-date">
                @Html.DisplayNameFor(model => model.LastUpdate)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Username"><i class="bi bi-pencil-square"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Username"><i class="bi bi-trash" style="color:red; margin-left:10px"></i></a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Username">@item.Username</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxAllowedProjects)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpiryDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsExpired)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdate)
                </td>
            </tr>
        }
    </tbody>
</table>
