@model ISPRO.Persistence.Entities.UserAccount

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <style>
        th {
            font-weight: bold !important;
            text-align: center !important;
        }
    </style>
}

<h1>Details</h1>

<div>
    <h4>@Model.Username</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DisplayName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DisplayName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subscription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subscription.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValidityDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValidityDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsExpired)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsExpired)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsValid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsValid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
    </dl>
    </br>
    <h4>Cash Payments</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Ammount</th>
                <th>Recharge Period</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CashPayments)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ammount) @Html.DisplayFor(modelItem => item.Currency)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RechargePeriod) Days
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
    </br>
    </br>
    <h4>PrePaid Cards</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Ammount</th>
                <th>Recharge Period</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PrePaidCards)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ConsumptionDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price) @Html.DisplayFor(modelItem => item.Currency)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RechargePeriod) Days
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Username" class="btn btn-primary">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
